.todo-text-container{
    width:80%;
    margin: 50px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.122);
    box-shadow: 1px 1px 2px black;
  
}
.todo-text{
    font-size: 30px;
    text-transform: capitalize;
    opacity: 0.8;
    
}
.remove-btn{
    padding: 5px;
    transition: 0.2s all ease-in-out;
}
.remove-btn:hover{
    transform: scale(1.1);
}

.line{
text-decoration: line-through;}

    
@media screen  and (max-width:520px){
        .todo-text-container{
            flex-direction: column;
        }
}